.comment{
    display: flex;
    gap: 10px;
    margin: 30px 0px;
}

.comment img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.commentDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.commentDetails span:nth-child(1){
    font-size: 13px;
    font-weight: 500;
}

.commentDetails span span{
    font-size: 12px;
    font-weight: 400;
    color: #373737;
    margin-left: 5px;
}

.commentDetails span:nth-child(2){
    font-size: 14px;
}